html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.splitpanes__pane {
    background-color: #fcefe700;
}
.splitpanes__splitter {
    background-color: #e5e6eb;
    position: relative;
    width: 6px; 
}
.splitpanes__splitter:before, .splitpanes__splitter:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, .15);
    transition: background-color .3s;
}
